.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000000; /* Background color for splash screen */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

@keyframes breathing {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  50% {
    transform: scale(1.5); /* Zoom in smoothly */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

.splash-gif {
  width: 200px; /* Initial size */
  animation: breathing 2s ease-in-out infinite;
}
